html {
  background-color: #FAAF99;
  font-family: 'Roboto', sans-serif;
}
body {
	display: block;
	text-align: center;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: white;
}

h2 {
  font-family: 'Overpass Mono', monospace;
  font-size: 40px;
  color: #FEF9E7;
}

h3 {
  color: #FEF9E7;
	padding-bottom: 30px;
	font-family: 'Overpass Mono', monospace;
}
#joinbtn {
	font-family: 'Pacifico', cursive;
	color: #FA8072;
	border-color: #F9EBEA;
	border: thin;
	border-radius: 7%;
	background-color: white;
	height: 40px;
	width: 100px;
	font-size: 20px;
	text-position: center;
}
